/*--------FORMATTING--------*/
.il{
    display:inline;
}
.ilb{
    display: inline-block;
}
.pos-r{
    position: relative;
}

/*-------------------------------*/

/*--------IMAGES--------*/
.lass{
    position: relative;
    // right:2000px;
    left:-2000px;
    transition: left 4s linear;
}
.enemy-img{
    width:20rem;
}
.glorious{
    position: relative;
    // left: 0px;
    right:-2800px;
    transition: right 4s linear;
}
.player-img{
    width:25rem;
}
/*-----------------------------*/

/*-------------TESTING------------*/
.outline{
    outline: 1px solid red;
}
.outline-b{
    outline: 1px solid blue;
}
/*-----------------------------*/

/*----------STRUCTURE----------*/
body{
   background:lightgray;
   min-height: 100%vh;
}
.everything{
    height:100%;
    width:75%;
    margin:auto;
    background: white;
    overflow: hidden;
}
.foot{
    position: relative;
    vertical-align: bottom;
}
/*---------ANIMATION--------*/
#start{
    font-size: 6rem;
    z-index: -1;
    margin-left:45%;
    margin-bottom:10%;
}
