/*--------FORMATTING--------*/
.il{
    display:inline;
}
.ilb{
    display: inline-block;
}
.pos-r{
    position: relative;
}
button{
    border:0 solid white;
    padding:0;
}
.fight{
    margin:0;
}
.font-change{
    font-family: courier;
    font-weight: bold;
    font-size: 30px;
}
/*-------------------------------*/

/*--------IMAGES--------*/
.heads{
    position: absolute;
    left:-1940px;
    top:50px;
    z-index: 10;
    filter: grayscale(100%);
    transition: left 4s linear;
}

.heads img{
    width:60px;
}
.shoety{
    position: absolute;
    left:395px;
    top:10px;
    display: none;

}
.shoety img{
    height:200px;
}
.officeHead{
    position: absolute;
    left:385px;
    top:10px;
    filter: grayscale(100%);
    display: none;
    z-index: 10;
}
.short-message{
    display:none;
    position: absolute;
}
.officeman img{
    width:100px;
}
.lass{
    z-index: 0;
}
.lass{
    position: relative;
    left:-2000px;
    transition: left 4s linear;
    filter: grayscale(100%);
}
.declare{
    position: absolute;
    left:375px;
    bottom:255px;
    display: none;
    z-index: 10;
}
.invoke{
    position: absolute;
    left:378px;
    bottom:215px;
    display: none;
    z-index: 10;
}
.chain{
    position: absolute;
    left:378px;
    bottom:190px;
    display: none;
    z-index: 10;
}
.givebadCode{
    position: absolute;
    left:378px;
    bottom:160px;
    display: none;
    z-index: 10;
}
.itemSpot{
    position: absolute;
    left:600px;
    bottom:275px;
    display: none;
    z-index: 10;
}
.moveSpot{
    position: absolute;
    left:382px;
    bottom:275px;
    display: none;
    z-index: 10;
}
.givepushEnemy{
    position: absolute;
    left:600px;
    bottom:255px;
    display: none;
    z-index: 10;
}
.givepullEnemy{
    position: absolute;
    left:605px;
    bottom:225px;
    display: none;
    z-index: 10;
}
.choices img{
    width:200px;
}
.lass-dudetrio{
    display: none;
}
.you-codemaster{
    display: none;
}
.empty-box{
    display: none;
}
.enemy-monster-img{
    width:30rem;
}
.dudes-pic{
    z-index: -10;
}
.code-pic{
    z-index: -10;
}
.yourName{
    position: absolute;
    left: 75px;
    bottom: 425px;
    display:none;
}
.enemyMonsterName{
    position: absolute;
    left:680px;
    bottom:330px;
    display:none;
}
.names{
    z-index: 1;
}
.dudes{
    position: absolute;
    left: 700px;
    top: 25px;
    filter: grayscale(100%);
}
.enemy-img{
    width:20rem;
}
.glory{
    z-index: 0;
}
.glorious{
    position: relative;
    right:-2800px;
    transition: right 4s linear;
    filter: grayscale(100%);
}
.codemaster{
    position: absolute;
    left:100px;
    bottom: 130px;
    filter: grayscale(100%);

}
.player-img{
    width:25rem;
}
.player-monster-img{
    width:20rem;    
}
.fight-button{
   z-index: -50;
}
.message-box{
    position: absolute;
    z-index: -50;
    left:330px;
    top:350px;
    transition: z-index 4s linear;
}
.message-box img{
    position: absolute;
    height:220px;
}
/*-----------------------------*/

/*-------------TESTING------------*/
.outline{
    outline: 1px solid red;
}
.outline-b{
    outline: 1px solid blue;
}
/*-----------------------------*/

/*----------STRUCTURE----------*/
body{
   background:white;
   height: 700px;
   
}
.everything{
    height: 100%;
    width:75%;
    margin:auto;
    background: white;
    overflow: hidden;
    position: relative;
}
.foot{
    position: absolute;
    left:500px;
    top:100px;
    z-index: 16;
}

/*---------ANIMATION--------*/
.start{
    font-size: 6rem;
    margin-left:45%;
    margin-bottom:10%;
}
.playerName{
    position: absolute;
    left:298px;
    bottom:390px;
}
.playerHealth{
    position: absolute;
    left:298px;
    bottom:360px;
}
.playerHits{
    position: absolute;
    left:298px;
    bottom:330px;
    z-index: 10;
}
.enemyName{
    position: absolute;
    right:360px;
    bottom:440px;
}
.enemyHealth{
    position: absolute;
    right:360px;
    bottom:410px;
}
.enemyHits{
    position: absolute;
    right:360px;
    bottom:380px;
}